h1{
    color:#025259;
    font-size: 80px;
    margin: 50px 50px;
}
.subtitulo
{color:#D94F04 ;
font-size:40px;
margin: 50px 50px;
}

body{
    background-color: #faf9d171;
}
.titulo_principal {
    font-family: bree serif;
    text-align: center;
    margin: 50px 50px;

}
.subtitulo{
    font-family: League Spartan;
    color:#D94F04;
    text-align: center;
    margin: 50px 50px;
}
.titulosdesecciones{
    font-family: bree serif;
    color:#025259;
    font-size: 40px;
    margin: 50px 50px;
}
.textos{
    font-family:League Spartan ;
    font-size: 30px;
    margin: 50px 50px;
}
nav {
    left: 0;
    width: 100%;
    background-color: #025259;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 50px 50px;
    
  }
  .textoss {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 80px;
    margin: 50px 50px;
    }
  .textoss:hover {
    background-color: #d0ff002f;
    transition: all 0.4s ease-in-out;
  }
